In [ ]:
1. Analisando Vendas de uma Loja
 Dataset: Arquivo CSV com dados de vendas (produto, categoria, valor, data, vendedor).
 Desafios:

Qual o faturamento total da loja?

Qual vendedor teve o maior n煤mero de vendas?

Qual categoria de produto mais vendeu?

In [1]:
import pandas as pd

In [2]:
#testando a tabela
df = pd.read_csv("vendas.csv")
df.head()

   id_venda        data     produto    categoria  valor vendedor
0         1  2024-03-01    Notebook  Eletr么nicos   4500   Carlos
1         2  2024-03-02  Smartphone  Eletr么nicos   2500      Ana
2         3  2024-03-03      Tablet  Eletr么nicos   1200     Jo茫o
3         4  2024-03-04     Headset   Acess贸rios    350  Mariana
4         5  2024-03-05     Monitor  Eletr么nicos   1500    Pedro

In [58]:
#faturamento total da loja
faturamento = (df["valor"].sum())
print(f"Faturamento total da loja: R${faturamento}")

Faturamento total da loja: R$25430

In [50]:
#Qual vendedor teve o maior n煤mero de vendas?
maiorVendedor = df.groupby("vendedor")["valor"].sum().sort_values(ascending=False)
print(f"O maior vendedor foi: \n{maiorVendedor.head(1)}")

O maior vendedor foi:
vendedor
Carlos    9300
Name: valor, dtype: int64

In [56]:
#Qual categoria de produto mais vendeu?
produtoMaisVendido = df.groupby("categoria")["valor"].sum().sort_values(ascending=False)
print(f"categoria de produto mais vendeu: \n{produtoMaisVendido.head(1)}")

categoria de produto mais vendeu:
categoria
Eletr么nicos    19900
Name: valor, dtype: int64