Desafio 42: Previs√£o de Aprova√ß√£o de Cr√©dito

üìÇ Dataset: Informa√ß√µes de candidatos √† an√°lise de cr√©dito.
Colunas: Renda, Idade, Score_Credito, Dividas, Tempo_Emprego, Aprovado

üéØ Tarefas:

Identifique e trate os valores ausentes.

Fa√ßa uma an√°lise explorat√≥ria: existe correla√ß√£o entre score de cr√©dito e aprova√ß√£o?

Qual a m√©dia de renda e score dos aprovados vs reprovados?

Crie uma √°rvore de decis√£o simples para prever a vari√°vel Aprovado.

Avalie a acur√°cia da sua √°rvore com uma divis√£o treino/teste (ex: 70/30).

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("dia_42_aprovacao_credito.csv")
df.head()

     Renda  Idade  Score_Credito  Dividas  Tempo_Emprego  Aprovado
0  4016.12     64          605.0        1            3.5         1
1  3294.86     69          673.0        0            0.2         1
2  3207.26     39          497.0        2            2.3         0
3  4067.68     55          695.0        3            1.0         0
4  4273.87     53          590.0        3            5.3         0

In [10]:
#Identifique e trate os valores ausentes.	
df["Score_Credito"] = pd.to_numeric(df["Score_Credito"], errors="coerce")
df["Score_Credito"] = df["Score_Credito"].fillna(df["Score_Credito"].mean()).round(2)

df["Tempo_Emprego"] = pd.to_numeric(df["Tempo_Emprego"], errors="coerce")
df['Tempo_Emprego'].fillna(df['Tempo_Emprego'].mean())
df.isna().sum()

Renda            0
Idade            0
Score_Credito    0
Dividas          0
Tempo_Emprego    0
Aprovado         0
dtype: int64

In [11]:
#Fa√ßa uma an√°lise explorat√≥ria: existe correla√ß√£o entre score de cr√©dito e aprova√ß√£o?
corrScoreAprovado = df['Score_Credito'].corr(df['Aprovado'])
print(corrScoreAprovado)

0.2586244190571961

In [12]:
#Qual a m√©dia de renda e score dos aprovados vs reprovados?
mediasAprovacao = df.groupby('Aprovado')[['Renda', 'Score_Credito']].mean()
print(mediasAprovacao)

                Renda  Score_Credito
Aprovado
0         3365.555648     593.796296
1         4111.298214     648.752143

In [30]:
#Avalie a acur√°cia da sua √°rvore com uma divis√£o treino/teste (ex: 70/30).
X = df.drop('Aprovado', axis=1)
y = df['Aprovado']        

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

modeloArvore = DecisionTreeClassifier(random_state=42)
modeloArvore.fit(X_train, y_train)

y_pred = modeloArvore.predict(X_test)
acuracia = accuracy_score(y_test, y_pred)

acuracia

1.0