Desafio 22: Limpeza de Dados de Produ√ß√£o Agr√≠cola

üìÇ Dataset: Informa√ß√µes de produ√ß√£o agr√≠cola com inconsist√™ncias e dados sujos.
Colunas: Ano, Estado, Cultura, Clima, Area_Produtiva_ha, Producao_Toneladas

üéØ Desafios de Limpeza:

Identifique e trate os valores ausentes nas colunas Area_Produtiva_ha e Producao_Toneladas.

Corrija a padroniza√ß√£o de nomes nas colunas Cultura, Clima e Estado (mai√∫sculas/min√∫sculas, acentua√ß√£o, tra√ßos).

Converta corretamente os valores de Area_Produtiva_ha para num√©rico.

Remova ou preencha valores inv√°lidos e substitua entradas vazias ou "N/A".

Ap√≥s a limpeza, calcule a produtividade m√©dia por hectare para cada tipo de cultura.

In [1]:
import pandas as pd

In [81]:
df = pd.read_csv("dia_22_producao_agricola_sujo.csv")
df.head()

    Ano Estado  Cultura        Clima  Area_Produtiva_ha  Producao_Toneladas
0  2023     PR     Soja  Subtropical            1404.70            36801.37
1  2022     RS    Milho     Tropical            7115.82             1820.77
2  2023     MG  Algod√£o   Equatorial            8968.15            57367.90
3  2018     PR     Caf√©  Subtropical            8392.70                 NaN
4  2019     RS     Soja  Subtropical            4398.20            50159.24

In [82]:
#Identifique e trate os valores ausentes nas colunas Area_Produtiva_ha e Producao_Toneladas.
print(f"Valores Nulos sem tratamento: \n{df[["Area_Produtiva_ha", "Producao_Toneladas"]].isnull().sum()}")
df["Producao_Toneladas"] = df.groupby("Cultura")["Producao_Toneladas"].transform(lambda x: x.fillna(x.mean()))
df["Area_Produtiva_ha"] = df.groupby("Cultura")["Area_Produtiva_ha"].transform(lambda x: x.fillna(x.mean()))
print(f"\nValores Nulos depois do tratamento : \n{df[["Area_Produtiva_ha", "Producao_Toneladas"]].isnull().sum()}")

Valores Nulos sem tratamento:
Area_Produtiva_ha     3
Producao_Toneladas    5
dtype: int64

Valores Nulos depois do tratamento :
Area_Produtiva_ha     0
Producao_Toneladas    0
dtype: int64

In [83]:
#Corrija a padroniza√ß√£o de nomes nas colunas Cultura, Clima e Estado (mai√∫sculas/min√∫sculas, acentua√ß√£o, tra√ßos).
df["Cultura"] = df["Cultura"].str.strip().str.lower().str.replace("-", " ").str.title()
df["Clima"] = df["Clima"].str.strip().str.lower().str.replace("-", " ").str.title()
df["Estado"] = df["Estado"].str.strip().str.replace("-", " ").str.upper()
df[["Estado", "Clima", "Cultura"]]

    Estado        Clima  Cultura
0       PR  Subtropical     Soja
1       RS     Tropical    Milho
2       MG   Equatorial  Algod√£o
3       PR  Subtropical     Caf√©
4       RS  Subtropical     Soja
..     ...          ...      ...
145     PR   Equatorial    Milho
146     RS   Equatorial  Algod√£o
147     SP   Equatorial    Milho
148     GO     Tropical  Algod√£o
149     RS  Subtropical    Milho

[150 rows x 3 columns]

In [84]:
#Converta corretamente os valores de Area_Produtiva_ha para num√©rico.
df["Area_Produtiva_ha"] = pd.to_numeric(df["Area_Produtiva_ha"])
print(f"Mostra que todos os valores s√£o realmente n√∫mericos: \n{df["Area_Produtiva_ha"].apply(type).value_counts()}")

Mostra que todos os valores s√£o realmente n√∫mericos:
Area_Produtiva_ha
<class 'float'>    150
Name: count, dtype: int64

In [85]:
#Remova ou preencha valores inv√°lidos e substitua entradas vazias ou "N/A".
print("Neste momento todos os valores nulos j√° foram tratados: \n")
df.replace(["N/A", "n/a", "-", " ", ""], pd.NA, inplace=True)
print(df.isnull().sum())

Neste momento todos os valores nulos j√° foram tratados:

Ano                   0
Estado                0
Cultura               0
Clima                 0
Area_Produtiva_ha     0
Producao_Toneladas    0
dtype: int64

In [86]:
#Ap√≥s a limpeza, calcule a produtividade m√©dia por hectare para cada tipo de cultura.
df["Produtividade_Toneladas_ha"] = df["Producao_Toneladas"] / df["Area_Produtiva_ha"]
produtividadeMedia = df.groupby("Cultura")["Produtividade_Toneladas_ha"].mean().reset_index().sort_values(by="Produtividade_Toneladas_ha", ascending=False)
print(produtividadeMedia.round(2))

   Cultura  Produtividade_Toneladas_ha
1    Arroz                       43.69
2     Caf√©                       41.80
4     Soja                       32.27
0  Algod√£o                       28.81
3    Milho                       21.53