In [ ]:
Desafio 1: Explorando Dados de Vendas

üìÇ Dataset: Registro de vendas de uma loja (cont√©m colunas como ID_Venda, Data, Produto, Categoria, Quantidade, Pre√ßo_Unit√°rio, Total_Venda).

üéØ Atividades:

    Carregue o arquivo CSV e exiba as 5 primeiras linhas.

    quantas linhas e colunas h√° no dataset?

    Quais s√£o os nomes das colunas?

    Existe alguma coluna com valores ausentes?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dia_1_vendas.csv")

In [4]:
#Carregue o arquivo CSV e exiba as 5 primeiras linhas.
df.head()

,ID_Venda,Data,Produto,Categoria,Quantidade,Pre√ßo_Unit√°rio,Total_Venda
0,1,2024-01-01,Smartphone,Eletr√¥nicos,2,1549.59,3099.18
1,2,2024-01-02,Monitor,Acess√≥rios,3,1269.22,3807.66
2,3,2024-01-03,Tablet,Eletr√¥nicos,2,1189.13,2378.26
3,4,2024-01-04,Notebook,Acess√≥rios,4,1792.52,7170.08
4,5,2024-01-05,Smartphone,Eletr√¥nicos,4,1328.04,5312.16

In [9]:
#quantas linhas e colunas h√° no dataset?
linhas, colunas = df.shape
print(f"o dataset cont√©m: {linhas} linhas e {colunas} colunas")

o dataset cont√©m: 20 linhas e 7 colunas

In [28]:
#Quais s√£o os nomes das colunas?
colunas = list(df.columns)
print(f"Esses s√£o os nomes das colunas: \n\n{colunas}")

Esses s√£o os nomes das colunas:

['ID_Venda', 'Data', 'Produto', 'Categoria', 'Quantidade', 'Pre√ßo_Unit√°rio', 'Total_Venda']

In [27]:
#Existe alguma coluna com valores ausentes?
nulos = df.isnull().sum()
print(f"Essas s√£o as colunas com valores nulos: \n\n{nulos[nulos > 0]}")

Essas s√£o as colunas com valores nulos:

Categoria         1
Pre√ßo_Unit√°rio    1
dtype: int64