Desafio 24: Tratamento de Dados de FuncionÃ¡rios

ðŸ“‚ Dataset: InformaÃ§Ãµes de funcionÃ¡rios com valores inconsistentes e formatos variados.
Colunas: ID, Nome, Idade, GÃªnero, Departamento, Faixa_Salarial

ðŸŽ¯ Tarefas:

    Corrija a padronizaÃ§Ã£o dos valores na coluna GÃªnero (ex: "masculino", "MASCULINO", etc).

    Trate a coluna Idade, convertendo para numÃ©rico e lidando com valores invÃ¡lidos como "", "N/A" e NaN.

    Padronize os valores da coluna Faixa_Salarial para que fiquem uniformes em termos de capitalizaÃ§Ã£o.

    Mostre o nÃºmero de funcionÃ¡rios por faixa salarial e departamento.

In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("dia_24_funcionarios_tratamento.csv")
df.head()

   ID           Nome  Idade     GÃªnero Departamento Faixa_Salarial
0   1  Funcionario_1   57.0        NaN    Marketing           alta
1   2  Funcionario_2   20.0  MASCULINO           RH           Alta
2   3  Funcionario_3   40.0  Masculino   Financeiro          MÃ©dia
3   4  Funcionario_4   31.0   Feminino    Comercial           alta
4   5  Funcionario_5   40.0      Outro    Comercial           Alta

In [28]:
#Corrija a padronizaÃ§Ã£o dos valores na coluna GÃªnero (ex: "masculino", "MASCULINO", etc).
df["GÃªnero"] = df["GÃªnero"].str.strip().str.lower().str.capitalize()
df["GÃªnero"] = df["GÃªnero"].fillna("NÃ£o informado")
df["GÃªnero"].unique()

array(['NÃ£o informado', 'Masculino', 'Feminino', 'Outro'], dtype=object)

In [29]:
#Trate a coluna Idade, convertendo para numÃ©rico e lidando com valores invÃ¡lidos como "", "N/A" e NaN.
df["Idade"] = pd.to_numeric(df["Idade"], errors="coerce")
df["Idade"] = df["Idade"].fillna(df["Idade"].mean())
df["Idade"] = df["Idade"].astype(int)
df["Idade"].unique()

array([57, 20, 40, 31, 47, 19, 41, 22, 48, 28, 29, 50, 58, 43, 60, 55, 44,
       45, 23, 18, 36, 27, 64, 59, 26, 51, 61, 54, 37, 49, 53, 56, 25, 21])

In [30]:
#Padronize os valores da coluna Faixa_Salarial para que fiquem uniformes em termos de capitalizaÃ§Ã£o.
df["Faixa_Salarial"] = df["Faixa_Salarial"].str.strip().str.lower().str.capitalize()
df["Faixa_Salarial"] = df["Faixa_Salarial"].replace({"Media" : "MÃ©dia"})
df["Faixa_Salarial"].unique()

array(['Alta', 'MÃ©dia', 'Baixa'], dtype=object)

In [39]:
#Mostre o nÃºmero de funcionÃ¡rios por faixa salarial e departamento.
funcSalarioDepart = df.groupby(["Departamento", "Faixa_Salarial"])["Nome"].count().reset_index().sort_values(by="Departamento", ascending=False)
print(funcSalarioDepart)

   Departamento Faixa_Salarial  Nome
12           TI           Alta     5
13           TI          Baixa     8
14           TI          MÃ©dia     4
9            RH           Alta     7
10           RH          Baixa     7
11           RH          MÃ©dia     5
6     Marketing           Alta     9
7     Marketing          Baixa     3
8     Marketing          MÃ©dia    11
3    Financeiro           Alta     6
4    Financeiro          Baixa     6
5    Financeiro          MÃ©dia     9
0     Comercial           Alta     6
1     Comercial          Baixa     5
2     Comercial          MÃ©dia     4