In [ ]:
Desafio 2: Analisando Dados de Funcion√°rios

üìÇ Dataset: Informa√ß√µes sobre funcion√°rios de uma empresa, incluindo idade, cargo, sal√°rio e tempo de empresa.

üéØ Atividades:

    Qual √© a m√©dia salarial dos funcion√°rios por cargo?

    Existe correla√ß√£o entre idade e sal√°rio?

    Quantos funcion√°rios t√™m mais de 5 anos na empresa?

In [1]:
import pandas as pd

In [56]:
#testando a tabela
df = pd.read_csv("dia_2_funcionarios.csv")
df.head()

,ID_Funcionario,Nome,Idade,Cargo,Salario,Tempo_Empresa (anos)
0,1,Funcionario_1,59,Analista,10844,4
1,2,Funcionario_2,26,Analista,10251,11
2,3,Funcionario_3,27,Coordenador,3294,2
3,4,Funcionario_4,59,T√©cnico,6289,9
4,5,Funcionario_5,23,T√©cnico,6407,3

In [63]:
#Qual √© a m√©dia salarial dos funcion√°rios por cargo?
salarioMedia = df.groupby("Cargo")["Salario"].mean().sort_values(ascending=False)
print(f"essa √© a m√©dia de salario por cargo: \n\n{salarioMedia}")

essa √© a m√©dia de salario por cargo:

Cargo
Analista       10169.00
Gerente         9486.60
T√©cnico         9191.50
Coordenador     6789.75
Name: Salario, dtype: float64

In [61]:
#Existe correla√ß√£o entre idade e sal√°rio?
correla√ß√£oIdadeSalario = df["Idade"].corr(df["Salario"])
print(f"A correla√ß√£o entre idade e sal√°rio √© de: {correla√ß√£oIdadeSalario:.2f}")
print("este valor √© muito baixo, isso significa que n√£o h√° uma rela√ß√£o significativa entre essas duas vari√°veis.")

A correla√ß√£o entre idade e sal√°rio √© de: 0.04
este valor √© muito baixo, isso significa que n√£o h√° uma rela√ß√£o significativa entre essas duas vari√°veis.

In [62]:
#Quantos funcion√°rios t√™m mais de 5 anos na empresa?
funcionarioCincoAnos = df[df["Tempo_Empresa (anos)"] >5].shape[0]
print(f"Existem {funcionarioCincoAnos} funcion√°rios com mais de 5 anos na empresa.")

Existem 10 funcion√°rios com mais de 5 anos na empresa.