üìä Desafio 49 ‚Äî Consumo de √Ågua Residencial

üìÇ Dataset: dia_49_consumo_agua.csv
Este conjunto de dados cont√©m informa√ß√µes sobre moradores, tipo de resid√™ncia, presen√ßa de cisterna e volume de consumo mensal de √°gua.

üîç Tarefas:

Qual a m√©dia geral de consumo mensal de √°gua?

Qual tipo de resid√™ncia apresenta maior consumo m√©dio?

Moradores com cisterna consomem menos √°gua?

H√° diferen√ßa significativa de consumo entre as faixas et√°rias?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dia_49_consumo_agua.csv")
df.head()

,id_morador,faixa_etaria,tipo_residencia,consumo_mensal_litros,possui_cisterna
0,1,18-25,Casa,5325.62,N√£o
1,2,26-35,Apartamento,5786.12,N√£o
2,3,18-25,Apartamento,9043.54,Sim
3,4,46-60,Casa,9830.00,N√£o
4,5,36-45,Casa,9159.88,N√£o

In [4]:
#Qual a m√©dia geral de consumo mensal de √°gua?
mediaConsumoAgua = df["consumo_mensal_litros"].mean().round(2)
print(mediaConsumoAgua)

7508.92

In [7]:
#Qual tipo de resid√™ncia apresenta maior consumo m√©dio?
residenciaConsumoMedio = df.groupby("tipo_residencia")["consumo_mensal_litros"].mean().sort_values(ascending=False).round(2)
print(residenciaConsumoMedio)

tipo_residencia
Casa           7522.87
Apartamento    7502.65
Condom√≠nio     7500.67
Name: consumo_mensal_litros, dtype: float64

In [9]:
#Moradores com cisterna consomem menos √°gua?
cisternaConsumo = df.groupby("possui_cisterna")["consumo_mensal_litros"].mean().sort_values(ascending=False).round(2)
print(cisternaConsumo)

possui_cisterna
Sim    7777.61
N√£o    7425.62
Name: consumo_mensal_litros, dtype: float64

In [13]:
#H√° diferen√ßa significativa de consumo entre as faixas et√°rias?
consumoFaixaEtaria = df.groupby("faixa_etaria")["consumo_mensal_litros"].mean().sort_values(ascending=False).round(2)
print(consumoFaixaEtaria)

faixa_etaria
18-25    7631.48
26-35    7587.67
36-45    7480.35
46-60    7472.42
60+      7196.73
Name: consumo_mensal_litros, dtype: float64